:root {
  --icon: orange;
  --baseColor: #1d428a;
  --baseColorAlt: #335cab;
  --secondColor: #1d428a;
  --secondColorAlt: #335cab;
}
:root.atlanta {
  --icon: #c1d32f;
  --baseColor: #e03a3e;
  --baseColorAlt: #d95255;
  --secondColor: #919e20;
  --secondColorAlt: #c1d32f;
}
:root.boston {
  --icon: #bfa980;
  --baseColor: #007a33;
  --baseColorAlt: #04913f;
  --secondColor: #ba9653;
  --secondColorAlt: #bfa980;
}
:root.brooklyn {
  --icon: #cccccc;
  --baseColor: #000000;
  --baseColorAlt: #2b2b2b;
  --secondColor: #000000;
  --secondColorAlt: #2b2b2b;
}
:root.charlotte {
  --icon: #00788c;
  --baseColor: #1d1160;
  --baseColorAlt: #362980;
  --secondColor: #00788c;
  --secondColorAlt: #016b7d;
}
:root.chicago {
  --icon: #d4083c;
  --baseColor: #ce1141;
  --baseColorAlt: #d4083c;
  --secondColor: #ce1141;
  --secondColorAlt: #d4083c;
}
:root.cleveland {
  --icon: #f0a80a;
  --baseColor: #6f263d;
  --baseColorAlt: #913754;
  --secondColor: #ffb81c;
  --secondColorAlt: #f0a80a;
}
:root.dallas {
  --icon: #abb5ba;
  --baseColor: #006bb6;
  --baseColorAlt: #007bd1;
  --secondColor: #b8c4ca;
  --secondColorAlt: #abb5ba;
}
:root.denver {
  --icon: #ebb51c;
  --baseColor: #0e2240;
  --baseColorAlt: #19355e;
  --secondColor: #fec524;
  --secondColorAlt: #ebb51c;
}
:root.detroit {
  --icon: #006bb6;
  --baseColor: #c8102e;
  --baseColorAlt: #db2745;
  --secondColor: #006bb6;
  --secondColorAlt: #005ea1;
}
:root.goldenstate {
  --icon: #ffc72c;
  --baseColor: #1d428a;
  --baseColorAlt: #2650a3;
  --secondColor: #ffc72c;
  --secondColorAlt: #f7c12a;
}
